In [70]:
#import dependencies
import pandas as pd
import re
import numpy as np

In [2]:
# Read the data into a Pandas DataFrame
crowdfunding_data = pd.ExcelFile("crowdfunding.xlsx")
# Get the sheet names.
crowdfunding_data.sheet_names

['crowdfunding_info', 'contact_info']

In [4]:
# Get the crowdfunding_info from the crowdfunding_info worksheet. 
crowdfunding_info_df = pd.read_excel(crowdfunding_data, sheet_name='crowdfunding_info')
crowdfunding_info_df.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [17]:
# Get the contact_info from the contact_info worksheet. 
pd.set_option('max_colwidth',400)
contact_info_df = pd.read_excel(crowdfunding_data, sheet_name='contact_info', header=3)
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [18]:
crowdfunding_info_df.tail(10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
990,1561,Ortiz-Roberts,Devolved foreground customer loyalty,7800,6839,failed,64,US,USD,1623214800,1623992400,False,True,film & video/drama
991,2632,Ramirez LLC,Reduced reciprocal focus group,9800,11091,successful,241,US,USD,1607493600,1622005200,False,True,music/rock
992,439,Morrow Inc,Networked global migration,3100,13223,successful,132,US,USD,1592110800,1612850400,False,True,film & video/drama
993,461,Erickson-Rogers,De-engineered even-keeled definition,9800,7608,canceled,75,IT,EUR,1625288400,1625720400,False,True,photography/photography books
994,1419,"Leach, Rich and Price",Implemented bi-directional flexibility,141100,74073,failed,842,US,USD,1636956000,1638856800,False,True,publishing/translations
995,2986,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks
996,2031,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays
997,1627,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays
998,2175,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock
999,1788,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks

In [19]:
crowdfunding_info_df.sample(15)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
976,356,"Huerta, Roberts and Dickerson",Self-enabling value-added artificial intelligence,4000,12886,successful,140,US,USD,1614492000,1628398800,False,True,theater/plays
472,2090,"Turner, Young and Collins",Self-enabling clear-thinking framework,153800,60342,failed,575,US,USD,1603861200,1614405600,False,False,music/rock
225,894,Fox-Quinn,Enterprise-wide reciprocal success,67800,176398,successful,5880,US,USD,1602651600,1614492000,True,False,music/rock
242,1955,"Hill, Martin and Garcia",Sharable scalable core,8400,10729,successful,250,US,USD,1598072400,1614578400,False,True,music/rock
122,186,Taylor PLC,Seamless zero-defect solution,136800,88055,failed,3387,US,USD,1590037200,1611813600,False,False,publishing/fiction
335,3176,Jordan-Acosta,Operative uniform hub,173800,198628,successful,2283,US,USD,1582783200,1613109600,False,False,music/rock
773,1210,"Meza, Kirby and Patel",Cross-platform empowering project,53100,101185,successful,2353,US,USD,1618203600,1618981200,False,False,theater/plays
624,1762,"White, Robertson and Roberts",Down-sized national software,5100,14249,successful,432,US,USD,1589000400,1621659600,False,False,photography/photography books
732,1069,"Glass, Baker and Jones",Business-focused 24hour access,117000,107622,failed,1121,US,USD,1621832400,1640930400,False,True,music/rock
268,1257,Brown-Mckee,Networked optimal productivity,1500,2708,successful,48,US,USD,1616475600,1641794400,False,False,film & video/documentary
809,1052,Williams and Sons,Public-key bottom-line algorithm,140800,88536,failed,2108,CH,CHF,1594530000,1616821200,False,False,film & video/documentary
693,1494,Bradford-Silva,Reverse-engineered composite hierarchy,180400,115396,failed,1748,US,USD,1602219600,1624683600,False,False,theater/plays
519,1898,Marsh-Coleman,Exclusive asymmetric analyzer,177700,180802,successful,1773,US,USD,1601010000,1616475600,False,True,music/rock
486,1730,"Davis, Cox and Fox",Compatible exuding Graphical User Interface,5200,702,failed,21,GB,GBP,1616907600,1630904400,False,True,publishing/translations
789,120,Kennedy-Miller,Cross-platform composite migration,9000,3351,failed,45,US,USD,1583647200,1616648400,False,False,theater/plays

In [20]:
contact_info_df.tail(10)

                                                                                                  contact_info
990                   {"contact_id": 5500, "name": "Vincentio Sanders", "email": "vincentio.sanders@voila.fr"}
991               {"contact_id": 3494, "name": "Bettina Norbiato", "email": "bettina.norbiato@allen-lutz.org"}
992                       {"contact_id": 3924, "name": "Julio Renner", "email": "julio.renner@industrias.net"}
993                         {"contact_id": 3521, "name": "Jelena Stiffel", "email": "jelena.stiffel@trupp.de"}
994         {"contact_id": 5262, "name": "Guadalupe Munoz", "email": "guadalupe.munoz@murray-hamilton.com.au"}
995                   {"contact_id": 3684, "name": "Whitney Noack", "email": "whitney.noack@laboratorios.org"}
996             {"contact_id": 5784, "name": "Gelsomina Migliaccio", "email": "gelsomina.migliaccio@junk.com"}
997  {"contact_id": 1498, "name": "Evangelista Pereira", "email": "evangelista.pereira@thompson-peterson.biz"}
998                       {"contact_id": 6073, "name": "Gareth Comolli", "email": "gareth.comolli@tiscali.fr"}
999                {"contact_id": 4939, "name": "Michelangelo Hess", "email": "michelangelo.hess@bouygtel.fr"}

In [21]:
contact_info_df.sample(15)

                                                                                          contact_info
776            {"contact_id": 3244, "name": "Christine Hiller", "email": "christine.hiller@yahoo.com"}
21                  {"contact_id": 5695, "name": "Itzel Murphy", "email": "itzel.murphy@muelichen.de"}
337  {"contact_id": 5852, "name": "Franco Fioravanti", "email": "franco.fioravanti@barry-gill.com.au"}
846                           {"contact_id": 5102, "name": "Mario Rees", "email": "mario.rees@gmx.de"}
148                      {"contact_id": 5629, "name": "Ian Kelly", "email": "ian.kelly@reeves.com.au"}
959                    {"contact_id": 5508, "name": "Vito Dossi", "email": "vito.dossi@hotmail.co.uk"}
812                           {"contact_id": 4453, "name": "Jose Huang", "email": "jose.huang@gmx.de"}
540                    {"contact_id": 4502, "name": "Renee Merino", "email": "renee.merino@gmail.com"}
683               {"contact_id": 2280, "name": "Patricio Guillon", "email": "patricio.guillon@web.de"}
619  {"contact_id": 5436, "name": "Svetlana Montanariello", "email": "svetlana.montanariello@putz.de"}
740                 {"contact_id": 4033, "name": "Ruby Carriera", "email": "ruby.carriera@hotmail.it"}
246              {"contact_id": 4914, "name": "Gregory Jackson", "email": "gregory.jackson@ortiz.com"}
459             {"contact_id": 1533, "name": "Stanley Mills", "email": "stanley.mills@parker-lee.biz"}
252         {"contact_id": 1757, "name": "Claudine Rowley", "email": "claudine.rowley@industrias.com"}
145           {"contact_id": 1656, "name": "Adalberto Lombardo", "email": "adalberto.lombardo@sfr.fr"}

In [27]:
# Get a brief summary of the crowdfunding_info DataFrame. 
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [28]:
# Get a brief summary of the contact_info DataFrame. 
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [42]:
# Get the unique values in the category & sub-category column. 
crowdfunding_info_df["category & sub-category"].unique()

array(['food/food trucks', 'music/rock', 'technology/web',
       'theater/plays', 'film & video/documentary',
       'music/electric music', 'film & video/drama', 'music/indie rock',
       'technology/wearables', 'publishing/nonfiction',
       'film & video/animation', 'games/video games',
       'film & video/shorts', 'publishing/fiction',
       'photography/photography books', 'publishing/radio & podcasts',
       'music/metal', 'music/jazz', 'publishing/translations',
       'film & video/television', 'games/mobile games',
       'music/world music', 'film & video/science fiction',
       'journalism/audio'], dtype=object)

In [67]:
allcategories = pd.Series(crowdfunding_info_df["category & sub-category"].unique())
#allcategories = crowdfunding_info_df["category & sub-category"].unique()
allcategories
newcategories = allcategories.str.split(pat='/', n=1)
print(newcategories)
categories1 = []
sub_categories1 = []
for value in newcategories:
    categories1.append(value[0])
    sub_categories1.append(value[1])

#print(categories1)
#print(sub_categories1)

#crowdfunding_info_df['category & sub-category']

0                  [food, food trucks]
1                        [music, rock]
2                    [technology, web]
3                     [theater, plays]
4          [film & video, documentary]
5              [music, electric music]
6                [film & video, drama]
7                  [music, indie rock]
8              [technology, wearables]
9             [publishing, nonfiction]
10           [film & video, animation]
11                [games, video games]
12              [film & video, shorts]
13               [publishing, fiction]
14    [photography, photography books]
15      [publishing, radio & podcasts]
16                      [music, metal]
17                       [music, jazz]
18          [publishing, translations]
19          [film & video, television]
20               [games, mobile games]
21                [music, world music]
22     [film & video, science fiction]
23                 [journalism, audio]
dtype: object

In [66]:
ids1 = range(1,len(allcategories)+1)
#ids = range(len)
categories1_df = pd.DataFrame()
sub_categories1_df = pd.DataFrame()
categories1_df['ID'] = ids1
categories1_df['Category'] = categories1
sub_categories1_df['ID'] = ids1
sub_categories1_df['Sub_Category'] = sub_categories1
#categories_df
#sub_categories1_df
#categories_df.reindex()

In [68]:
# Assign the category and subcategory values to category and subcategory columns.
crowdfunding_info_df[["category","subcategory"]] = crowdfunding_info_df["category & sub-category"].str.split('/', n=1, expand=True)
crowdfunding_info_df.head(10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
5,2057,Harris Group,Open-source optimizing database,7600,13195,successful,174,DK,DKK,1607666400,1630213200,False,False,theater/plays,theater,plays
6,1894,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200,1090,failed,18,GB,GBP,1596171600,1620709200,False,False,film & video/documentary,film & video,documentary
7,2669,Carter-Guzman,Centralized cohesive challenge,4500,14741,successful,227,DK,DKK,1608616800,1632200400,False,False,theater/plays,theater,plays
8,1114,Nunez-Richards,Exclusive attitude-oriented intranet,110100,21946,live,708,DK,DKK,1586322000,1615356000,False,False,theater/plays,theater,plays
9,970,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200,3208,failed,44,US,USD,1628830800,1630386000,False,False,music/electric music,music,electric music

In [69]:
# Get the distinct values in the category and subcategory columns.
print(crowdfunding_info_df["category"].nunique())
print(crowdfunding_info_df["subcategory"].nunique())

9
24

In [71]:
# Get the unique categories and subcategories in separate lists.
categories = crowdfunding_info_df["category"].unique()
subcategories = crowdfunding_info_df["subcategory"].unique()
print(categories)
print()
print(subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']

['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [73]:
# Create numpy arrays that have 1-10 for the category_ids and 1-25 for the subcategory_ids.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

numpy.ndarray

In [77]:
# Use a list comprehension to add "cat0" to each category_id. 
cat_ids = ["cat0" + str(cat_id) for cat_id in category_ids]

# Use a list comprehension to add "scat0" to each subcategory_id. 
scat_ids = ["scat0" + str(scat_id) for scat_id in subcategory_ids ]

print(cat_ids)
print(scat_ids)

['cat01', 'cat02', 'cat03', 'cat04', 'cat05', 'cat06', 'cat07', 'cat08', 'cat09']
['scat01', 'scat02', 'scat03', 'scat04', 'scat05', 'scat06', 'scat07', 'scat08', 'scat09', 'scat010', 'scat011', 'scat012', 'scat013', 'scat014', 'scat015', 'scat016', 'scat017', 'scat018', 'scat019', 'scat020', 'scat021', 'scat022', 'scat023', 'scat024']

In [78]:
# Create a category DataFrame with the cat_ids array as the category_id and categories list as the category name.
category_df = pd.DataFrame({
    "category_id": cat_ids,
    "category" : categories
})

# Create a subcategory DataFrame with the scat_ids array as the subcategory_id and subcategories list as the subcategory name.
subcategory_df = pd.DataFrame({
    "subcategory_id": scat_ids,
    "subcategory" : subcategories
})

In [81]:
category_df.head(10)
subcategory_df.head(10)

  subcategory_id     subcategory
0         scat01     food trucks
1         scat02            rock
2         scat03             web
3         scat04           plays
4         scat05     documentary
5         scat06  electric music
6         scat07           drama
7         scat08      indie rock
8         scat09       wearables
9        scat010      nonfiction

In [82]:
category_df.to_csv("categories.csv", index = False)
subcategory_df.to_csv('subcategories.csv', index = False)